        :root{
        --blue-color: blue;
        --yellow-color: yellow;
        --yellow2-color: rgba(234, 255, 0, 0.66);
        --red-color: red;
        --black-color: black;
        --black2-color: transparent;
        --green-color: green;
        --white-color: white;
        --orange-color: orange;
        --orange2-color: #D4AF37;
        }
      .spinner{
        width: 60px;
        height: 60px;
        border: 6px solid var(--white-color);
        border-top: 6px solid var(--blue-color);
        border-radius: 50%;
        animation: spin 1s linear infinite;
        margin: 100px auto;

      }
      @keyframes spin{
        0% {transform: rotate(0deg); }
        100% {transform: rotate(360deg); }
      }
      .spinner-overlay{
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: var(--white-color);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 9999;
        transition: 1s;
        opacity: 1;
        visibility: visible;
      }
      .remove{
        transition: 1s;
        opacity: 0;
        visibility: hidden;
      }